#minus{display:none;}
#mainus{display:none;}
#omega{display:none;}
#beta{display:none;}

#audio{display:none;}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

a{
    color:white;
}

/*FORMATAÇÃO DO MENU SUPERIOR*/
.menu-drop{
    z-index:1;
    position: fixed;
    top: 1px;
    width: 100vw;
    height: 8vh;
    border-bottom: 1px solid;
    border-color:aliceblue;
    padding: 1px;
    
}

.menu-drop li{
  
    padding-left: 55px;
    padding-right: 70px;
    display: inline-block;
    color:rgb(255, 255, 255);
}

.menu-drop li:hover{
    color:#fa7575;
    text-shadow: 50px;
    border-color:black;
   

}
nav li:hover{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;

    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     
}

nav{
    animation: neon alternate infinite 3s ease-in-out;
}
.menu-drop{
    --cor-neon:rgb(255, 255, 255);
} 

a{
    text-decoration: none;
    --cor-neon:rgb(243, 33, 33);
}

a:hover{
    color:#fa7575;
}
/*FORMATAÇÃO DO MENU SUPERIOR*/

body{
    margin:0;
}


/**/

/*conteudo de som abaixo*/

/*abaixo, as imagens que compoem o evento de som*/
#icn1{
    width: 13px ;
    height: 13px ;
    cursor:pointer;
}

#icn2{
    width: 13px ;
    height: 13px ;
    cursor:pointer;
}

#icn3{
    width: 13px ;
    height: 13px ;
    cursor:pointer;
}

#icn4{
    width: 13px ;
    height: 13px ;
    cursor:pointer;
}

#icn5{
    width: 13px ;
    height: 13px ;
    cursor:pointer;
}
/*acima, as imagens que compoem o evento de som*/

/*div contendo icnº*/
#mixer{
    position:fixed;
    right:35px;
    top: 5px;
}

#mixer2{
    font-size:small;
    color:red;
    position:fixed;
    width: 160px ;
    right: -20px;
    top:20px;

}
/*conteudo de som acima*/

/**div contendo a foto principal*/
.foto{

    width: 200px ;
    height:  200px;
    left: 550px;
    top: 70px;

    position:fixed;

    
    border:solid 1px transparent ;
    border-radius:100%;

    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon:rgb(255, 255, 255);
    
}

#perfil{
    position:absolute;
    width: 500px;
    height: 500px;
    border-bottom:solid 1px transparent;
    border-bottom-left-radius:30%;
    border-bottom-right-radius:30%;
    right: -120px;
 

  

   animation: neon infinite alternate 3s ease-in-out;
   --cor-neon:(rgba(255, 255, 255, 255));

}
#perfil {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#perfil:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


body{
    background-color:#000000;
    margin:0;
    padding:0;
}



.soft{
    position:absolute;
    left:10px;
    top: 200px;
    width:500px;
    height: 500px ;
    font-size: larger;
    color:white;
    
    
}
#fundo{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat
}

.hard{    
    position:absolute;
    left: 1000px;
    top: 200px;
    width:500px;
    height: 500px ;
    font-size: larger;
    color:white;
    
}





@keyframes neon{

    from{
        filter:drop-shadow(0 0 0 var(--cor-neon));
    }


to {

    filter:drop-shadow(0 0 30px var(--cor-neon));
 }
}













body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }


  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 30, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 182, 182);  /* creates padding around scroll thumb */
  }


  a  {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

a :hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     
}


